<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="LEFT_FRONT_WHEEL_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="RIGHT_FRONT_WHEEL_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="LEFT_HINGE_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="RIGHT_HINGE_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="LEFT_REAR_WHEEL_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="RIGHT_REAR_WHEEL_JOINT">
            <command_interface name="velocity">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <!-- Joint state publisher -->
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find ars_description)/config/ars_description.yaml</parameters>
        </plugin>
        <plugin
            filename="ignition-gazebo-imu-system"
            name="ignition::gazebo::systems::Imu">
        </plugin>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>


    <!--        Sensors        -->

    <!-- IMU -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>${imu_update_rate}</update_rate>
            <visualize>true</visualize>
            <topic>${imu_topic}</topic>
        </sensor>
    </gazebo>

    <gazebo reference="imu_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <!-- LIDAR -->
    <gazebo reference="lidar_link">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <topic>${lidar_topic}</topic>
            <update_rate>${lidar_update_rate}</update_rate>
            <alwaysOn>1</alwaysOn>
            <visualize>true</visualize>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.396263</min_angle>
                        <max_angle>1.396263</max_angle>
                    </horizontal>
                    <vertical>
                    <samples>1</samples>
                    <resolution>1</resolution>
                    <min_angle>0.0</min_angle>
                    <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
            </lidar>
        </sensor>
    </gazebo>

    <gazebo reference="lidar_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <!--            Car Parts           -->
    
    <!-- Left front wheel -->
    <gazebo reference="LEFT_FRONT_WHEEL">
        <mu1 value="${friction_coeff}"/>
        <mu2 value="${friction_coeff}"/>
        <fdir1 value="1 0 0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <minDepth>0.005</minDepth>
        <maxVel>100.0</maxVel>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Right front wheel -->
    <gazebo reference="RIGHT_FRONT_WHEEL">
        <mu1 value="${friction_coeff}"/>
        <mu2 value="${friction_coeff}"/>
        <fdir1 value="1 0 0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <minDepth>0.005</minDepth>
        <maxVel>100.0</maxVel>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Left rear wheel -->
    <gazebo reference="LEFT_REAR_WHEEL">
        <mu1 value="${friction_coeff}"/>
        <mu2 value="${friction_coeff}"/>
        <fdir1 value="1 0 0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <minDepth>0.005</minDepth>
        <maxVel>100.0</maxVel>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Right rear wheel -->
    <gazebo reference="RIGHT_REAR_WHEEL">
        <mu1 value="${friction_coeff}"/>
        <mu2 value="${friction_coeff}"/>
        <fdir1 value="1 0 0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <minDepth>0.005</minDepth>
        <maxVel>100.0</maxVel>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Left hinge -->
    <gazebo reference="LEFT_WHEEL_HINGE">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1 value="0 1 0"/>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Right hinge -->
    <gazebo reference="RIGHT_WHEEL_HINGE">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1 value="0 1 0"/>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
</robot>